<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sales List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h2 class="mt-5">Sales History</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Sale ID</th>
            <th>Product</th>
            <th>Quantity Sold</th>
            <th>Sale Price</th>
            <th>Sale Date</th>
            <th>Customer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sale : ${sales}">
            <td th:text="${sale.id}"></td>
            <td th:text="${sale.product.name}"></td>
            <td th:text="${sale.quantitySold}"></td>
            <td th:text="${sale.salePrice}"></td>
            <td th:text="${sale.saleDate}"></td>
            <td th:text="${sale.customerName}"></td>
        </tr>
        </tbody>
    </table>
    <a href="/sales/create" class="btn btn-primary">Record New Sale</a>
    <p><a href="/" class="btn btn-primary mt-4">Back to Home</a></p>
</div>
</body>
</html>
